<template>
  <div>
    <div v-if="!ready">
      Loading..
    </div>
    <canvas ref="canvas"></canvas>
  </div>
</template>

<script>

import { Doughnut } from 'vue-chartjs'
import axios from 'axios'

export default {
  extends: Doughnut,
  name: 'doughnut',
  props: ['country'],
  data: function () {
    return {
      ready: false
    }
  },
  mounted () {
    axios.get('http://api.population.io:80/1.0/wp-rank/1920-01-01/female/' + encodeURIComponent(this.country) + '/today')
      .then(responseFemale => {
        // response.data
        return axios.get('http://api.population.io:80/1.0/wp-rank/1920-01-01/male/' + encodeURIComponent(this.country) + '/today')
          .then(responseMale => {
            this.ready = true
            this.renderChart({
              labels: ['Male', 'Female'],
              datasets: [{
                backgroundColor: ['#007bff', '#e83e8c'],
                data: [responseMale.data.rank, responseFemale.data.rank]
              }]
            }, {
              responsive: true,
              maintainAspectRatio: false,
              pieceLabel: {
                mode: 'percentage',
                precision: 1
              }
            })
          })
      })
  }
}
</script>
