<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Country</h1>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  components: { axios },
  name: 'Country',
  data () {
    return {}
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
