<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Dashboard</h1>
        <div v-show="ready">
          <vuetable ref="vuetable"
            :api-mode="false"
            :fields="fields"
            :data-total="totalCountries"
            :data-manager="dataManager"
            :per-page="10"
            :css="css.table"
            pagination-path="pagination"
            @vuetable:pagination-data="onPaginationData"
            @vuetable:cell-clicked="onCellClicked"
            detail-row-component="my-detail-row"
            track-by="id">
          </vuetable>
          <vuetable-pagination ref="pagination"
            class="float-right"
            @vuetable-pagination:change-page="onChangePage"
          ></vuetable-pagination>
        </div>
        <div v-show="!ready" class="loader">
          Loading..
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import Vuetable from 'vuetable-2'
import VuetablePagination from '../Vuetable/VuetablePaginationBootstrap'
import DetailRow from './DetailsRow'

import axios from 'axios'
import _ from 'lodash'

Vue.component('my-detail-row', DetailRow)

export default {
  components: { Vuetable, VuetablePagination, DetailRow },
  name: 'Dashboard',
  data: function () {
    return {
      ready: false,
      countries: [],
      totalCountries: 0,
      groups: [],
      filters: ['Australia/New Zealand', 'ASIA'],
      searchFor: '',
      css: {
        table: {
          tableClass: 'table table-striped table-bordered',
          loadingClass: 'loading',
          ascendingIcon: 'glyphicon glyphicon-chevron-up',
          descendingIcon: 'glyphicon glyphicon-chevron-down',
          handleIcon: 'glyphicon glyphicon-menu-hamburger',
          renderIcon: function (classes, options) {
            return '<span class="' + classes.join(' ') + '"></span>'
          }
        }
      },
      fields: [{
        name: 'id',
        sortField: 'id',
        title: '#'
      },
      {
        name: 'country',
        sortField: 'country',
        title: '<span class="orange glyphicon glyphicon-country"></span> Country/Area'
      },
      {
        name: 'population',
        sortField: 'population',
        title: '<span class="orange glyphicon glyphicon-user"></span> Population'
      }]
    }
  },
  watch: {
    countries: _.debounce(function (newVal, oldVal) {
      if (typeof this.$refs.vuetable !== 'undefined') {
        this.ready = true
        this.$refs.vuetable.refresh()
      }
    }, 100)
  },
  created () {
    this.getCountries().then(result => {
      return result.countries
    }).then((countries) => {
      let today = new Date().toISOString().slice(0, 10)
      for (let country in countries) {
        if (!this.filters.includes(countries[country])) {
          this.getPopulationByCountry(countries[country], today).then(result => {
            if (result.total_population !== undefined && result.total_population.population) {
              this.countries.push({
                'id': country,
                'country': countries[country],
                'population': this.toFixed(result.total_population.population)
              })
              this.totalCountries++
            } else {
              this.groups.push({
                'id': country,
                'country': countries[country],
                'population': result.countries
              })
            }
          })
        }
      }
    })
  },
  mounted () {
    this.$refs.vuetable.setData(this.countries)
  },
  methods: {
    onCellClicked (data, field, event) {
      console.log('cellClicked: ', field.name)
      this.$refs.vuetable.toggleDetailRow(data.id)
    },
    getPopulationByCountry: async (country, today) => {
      return axios.get('http://api.population.io/1.0/population/' + encodeURIComponent(country) + '/' + today + '/').then(response => { return response.data })
    },
    getCountries: async () => {
      return axios.get('http://api.population.io:80/1.0/countries').then(response => {
        return response.data
      })
    },
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    dataManager (sortOrder, pagination) {
      let data = this.countries

      // account for search filter
      if (this.searchFor) {
        // the text should be case insensitive
        let txt = new RegExp(this.searchFor, 'i')

        // search on country name
        data = _.filter(data, function (item) {
          return item.country.search(txt) >= 0
        })
      }

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        data = _.orderBy(data, sortOrder[0].sortField, sortOrder[0].direction)
      }

      // since the filter might affect the total number of records
      // we can ask Vuetable to recalculate the pagination for us
      // by calling makePagination(). this will make VuetablePagination
      // work just like in API mode
      pagination = this.$refs.vuetable.makePagination(this.totalCountries)

      // if you don't want to use pagination component, you can just
      // return the data array
      return {
        pagination: pagination,
        data: _.slice(data, pagination.from - 1, pagination.to)
      }
    },
    toFixed (x) {
      // is ASIA just broken.. right!?
      if (Math.abs(x) < 1.0) {
        var e = parseInt(x.toString().split('e-')[1])
        if (e) {
          x *= Math.pow(10, e - 1)
          x = '0.' + (new Array(e)).join('0') + x.toString().substring(2)
        }
      } else {
        e = parseInt(x.toString().split('+')[1])
        if (e > 20) {
          e -= 20
          x /= Math.pow(10, e)
          x += (new Array(e + 1)).join('0')
        }
      }
      return x
    }
  }
}
</script>

<style>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 2px;
}
a {
  color: #42b983;
}
.vuetable th#_country {
    width: 60%;
}
</style>
