<template>
  <div>
    <div class="inline field">
      <h1>{{rowData.country}}</h1>
    </div>
    <doughnut :country="rowData.country"></doughnut>
  </div>
</template>

<script>

import Doughnut from '../Graph/DoughnutMaleFemale'

export default {
  components: { Doughnut },
  props: {
    rowData: {
      type: Object,
      required: true
    }
  },
  methods: {
  }
}
</script>
